<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<form action="/registration" method="post">
    <p>
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
    </p>
    <p>
        <label for="username">Username</label>
        <input type="text" name="username" id="username">
    </p>
    <p>
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
    </p>
    <p>
        <label for="passwordConfirm">Password Confirm</label>
        <input type="password" name="passwordConfirm" id="passwordConfirm">
    </p>
    <p>
        <input type="submit">
    </p>
</form>
</body>
</html>
